@import url("https://fonts.googleapis.com/css2?family=Content:wght@500;600&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --color-conferences: #ff941a;
  --color-coworking: #9caab6;
  --color-community: #829271;
  --color-bg: #252323;
  --color-coral: #fe825c;
  --link-hover: #fe825c;
  --nav-height: 80px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Content", sans-serif;
  background-color: var(--color-bg);
}
